<!DOCTYPE html>
<html>
    <head>
        <title>Crested Duck Team Matcher</title>
        <script type="text/javascript" src="../js/script.js"></script>
    </head>
    <body>
        
        <h1>Team Matcher</h1>
        <p>Please upload your .csv file</p>
        
        <form id="file-form" action="/result" method="POST">
            <input type="file" id="csv-select" name="csv-file">
            <button type="submit" id="upload-button">Upload</button>
        </form>
        
    </body>
</html>
